<div class = "grid grid-cols-3 md:grid-cols-3 xl:grid-cols-3 gap-4">
  {% for character in characters %}
  <a href = "/characters/{{ character.name | slug }}">
    <div class = "hover:scale-[1.15]">
      <img class = "border border-4 rounded-t-md" style="border-color: {{ character.color }};" src = "/images/{{ character.button_img}}">
        <p class = "text-center bg-blue-500 rounded-b-md">{{ character.name }}</p>
      </div>
  </a>
  {% endfor %}
</div>