<footer class="mt-0 text-center text-base float-none footer-bg bg-[1F1552]">
  <p class="text-xl font-bold mb-2">‎‎‎</p>
  <p class="text-xl font-bold mb-2 text-slate-300">Coming soon on</p>
  <div class="mb-8 text-gray-300">
    <a href = "{{ config.steamLink }}">
      <i class="fa-brands fa-steam fa-4x hover:text-slate-800 mx-1"></i>
    </a>
    <a href = "/missing">
      <i class="fa-brands fa-itch-io fa-4x hover:text-red-400 mx-1"></i>
    </a>
  </div>
  <p class="text-xl font-bold mb-2 text-slate-300">Connect with us</p>
  <div class="mb-8 text-gray-300">
    <a href = "{{ config.blueskyLink }}" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-bluesky fa-2x hover:text-blue-500 mx-1"></i>
    </a>
    <a href = "{{ config.twitterLink }}" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-twitter fa-2x hover:text-sky-400 mx-1"></i>
    </a>
    <a href = "{{ config.instagramLink }}" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-instagram fa-2x hover:text-pink-400 mx-1"></i>
    </a>
    <a href = "{{ config.youtubeLink }}" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-youtube fa-2x hover:text-red-500 mx-1"></i>
    </a>
    <a href = "{{ config.linkedinLink }}" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-linkedin fa-2x hover:text-blue-600 mx-1"></i>
    </a>
  </div>
  <p class = "text-sm my-2 text-slate-300">
    &copy; {{ '' | year }} - <a href = "https://www.linkedin.com/in/timothy-quach/" class = "hover:underline">{{ config.author }}</a>
  </p>
  <p class = "mt-2 text-xs text-slate-600 pb-12">
    <a href = "https://github.com/rsinker/roosevelt.games" class="hover:text-violet-800">Built on a template by Roosevelt Sinker</a>
  </p>
</footer>