<div class="h-auto md:h-24 bg-fuchsia-300 py-6">
  <div class="md:flex justify-between items-end max-w-4xl mx-auto">
    <a href = "/" class="flex flex-col items-center text-center md:text-left text-4xl md:text-5xl noto-serif-header font-black text-slate-800 mb-1 md:mb-0">
      Donuts!</h1>

      {% include 'navigation.njk' %}

    </div>
</div>