---
layout: home
pagination:
  data: characters
  size: 1
  alias: character
permalink: /characters/{{character.name | slug}}/
---
<div class = "my-16 bg-opaque">

<div class = "mt-8 mb-24 flex justify-center gap-x-8">
<div class = "w-1/2">
<img class ="rounded-2xl border border-gray-400 border-2" src = "/images/{{ character.image }}">
</div>

<div class = "grow-0 w-1/2">
<p class = "title mb-8 text-center">{{ character.name }}</p>
<p class = "text-center">{{ character.description }}</p>
</div>
</div>


<h1 class="text-center">Meet the Characters</h1>

{% include "characternav.njk" %}



</div>
