---
title: Home
layout: home
tags: page
modified: 2022-01-09 00:00:00
order: 1
---
<div class = "my-16 bg-opaque">

<h1 class="text-center">
Donuts! is a slapstick 3D racing and skateboarding game meets food delivery service.
</h1>
<div class="text-xl md:text-2xl text-center">
	<p class = "mb-8">You play as Mony, a first generation Cambodian-American, as she sets off to save her family's slowing donut business through means of food trucks, viral marketing, and radical tricks!</p>
</div>

<div class="aspect-video my-4 w-3/4 mx-auto">
<iframe class="rounded-3xl shadow-2xl shadow-pink-500 w-full h-full" src="https://www.youtube.com/embed/87mODA90eEk?si=0L_72tbllJ3S-mJS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class = "">
<h1 class="mb-0 text-center">
Features
</h2>
<div class="text-xl mb-12">
	<ul class = "ml-12 text-left list-disc space-y-4">
        <li><p>Perform skateboard tricks in a food truck to make donuts.</p></li>
        <li><p>Race against the clock to make your deliveries on time.</p></li>
        <li><p>Gather a social media following to save your family's donut shop.</p></li>
        <li><p>Explore a beautiful southern california-expired world.</p></li>
        <li><p>Meet a colorful cast of characters and learn more about the cambodian-american experience.</p></li>
    </ul>
</div>
</div>


{# <p class="text-center title"><a href="/characters" class="p-2 px-4 bg-pink-400 rounded-md hover:bg-pink-600">Meet the characters!</a></p> #}

</div>
