---
title: Home
layout: home
tags: page
modified: 2022-01-09 00:00:00
order: 1
---
<div class = "">
<a href="/"><img class="mx-auto mb-12 h-[512px]" src = "/images/Promotion/Donuts_Logo_Tian.png"></a>
<p class="title mb-12 text-center">
Donuts! is a slapstick 3D racing and skateboarding game meets food delivery service.
</p>
<div class="text-xl md:text-2xl text-center">
	<p class = "mb-8">You play as Mony, a first generation Cambodian-American, as she sets off to save her family's slowing donut business through means of food trucks, viral marketing, and radical tricks!</p>
</div>

<div class="aspect-video my-4 w-3/4  mx-auto">
<iframe class="w-full h-full" src="https://www.youtube.com/embed/0hw4Bt2Tbg0?si=MVQzsbKsbX6DKvcg&amp;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<p class="title mb-12 text-center">
Features
</p>
<div class="text-xl md:text-2xl mb-12">
	<ul class = " text-center">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
    </ul>
</div>


<p class="text-center title"><a href="/characters" class="p-2 px-4 bg-pink-400 rounded-md hover:bg-pink-600">Meet the characters!</a></p>

</div>