---
title: Missing
layout: home
tags:
modified: 2024-05-17 00:00:00
order: 2
---
<p class="title mb-12 text-center sm:text-left">Sothea is hard at work getting this link set up!</p>
<div class = "flex justify-center"><img class="rounded-2xl border border-gray-400 border-2 h-[512px]" src = "/images/missing.png"></div>
