---
title: Press Kit
layout: home
tags: page
---

<h1 class="mb-12 text-center">Fact Sheet</h1>

<h2 class = "mb-0 text-left">Developer</h2>
<p class = "text-left">Donuts Team</p>

<h2 class = "mb-0 text-left">Publisher</h2>
<p class = "text-left">USC Games</p>

<h2 class = "mb-0 text-left">Genre</h2>
<p class = "text-left">Racing, Skateboarding, Arcade</p>

<h2 class = "mb-0 text-left">Release Date</h2>
<p class = "text-left">May 2025</p>

<h2 class = "mb-0 text-left">Platforms</h2>
<p class = "text-left">PC (Steam & Itch.io)</p>

<h2 class = "mb-0 text-left">Engine</h2>
<p class = "text-left">Unity</p>

<h2 class = "mb-0 text-left">Number of Players</h2>
<p class = "mb-36 text-left">1</p>


<h1 class="mb-2 text-left">Tagline</h1>
<p class = "text-left">"Donuts! is a slapstick 3D racing and skateboarding game meets food delivery service."</p>

<h1 class="mb-2 text-left">Short Description</h1>
<p class = "text-left">Donuts! is a slapstick 3D racing and skateboarding game meets food delivery service. You play as Mony, a first generation Cambodian-American, as she sets off to save her family's slowing donut business through means of food trucks, viral marketing, and radical tricks!</p>

<h1 class="mb-2 text-left">Longer Description</h1>
<p class = "text-left">Donuts! is a slapstick 3D racing and skateboarding game meets food delivery service. You play as Mony, a first generation Cambodian-American, as she sets off to save her family's slowing donut business through means of food trucks, viral marketing, and radical tricks! 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget ipsum posuere, euismod magna sed, ultrices justo. Ut elementum sapien vel lectus blandit mattis. Vivamus leo nunc, pellentesque id nisl a, malesuada varius risus. Duis venenatis elit mauris, et hendrerit leo ullamcorper sit amet. Nulla nec eros pharetra, consectetur velit consequat, porta metus. Aliquam luctus magna rutrum urna feugiat lacinia.</p>

<h1 class="mb-2 text-left">Features</h1>
<ul class = " text-left">
	<li>Feature 1</li>
	<li>Feature 2</li>
	<li>Feature 3</li>
	<li>Feature 4</li>
</ul>

<h1 class="mb-2 text-left">About the Developer</h1>
<p class = "mb-36 text-left">The Donuts Team is a student project made as part of USC Games' Advanced Games Project capstone program. Directed by Timothy Quach and with over 50 team members the project was developed over the course of a year. Full credits found <a href = "/missing" class = "underline">here</a>.</p>


<h1 class="mb-2 text-left">Official Website</h1>
<a href = "/"><p class = "text-left underline">{{config.url}}</p></a>

<h1 class="mb-2 text-left">Youtube</h1>
<a href = "{{ config.youtubeLink }}"><p class = "text-left underline">{{ config.youtubeAccount }}</p></a>

<h1 class="mb-2 text-left">Instagram</h1>
<a href = "{{ config.instagramLink }}"><p class = "text-left underline">{{ config.instagramAccount }}</p></a>

<h1 class="mb-2 text-left">Linkedin</h1>
<a href = "{{ config.linkedinLink }}"><p class = "text-left underline">{{ config.linkedinAccount }}</p></a>

<h1 class="mb-2 text-left">Twitter</h1>
<a href = "{{ config.twitterLink }}"><p class = "text-left underline">{{ config.twitterAccount }}</p></a>

<h1 class="mb-2 text-left">Blue Sky</h1>
<a href = "{{ config.blueskyLink }}"><p class = "text-left underline">{{ config.blueskyAccount }}</p></a>

<h1 class="mb-2 text-left">Facebook</h1>
<a href = "{{ config.facebookLink }}"><p class = "text-left underline">{{ config.facebookAccount }}</p></a>


<h1 class="mb-2 text-left">Videos</h1>
<h3 class="mb-2 text-left">GDC Trailer (00:09:05)</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/87mODA90eEk?si=XUxeiCe0rczZSn-2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h1 class="mb-2 text-left">Screenshots</h1>
<div class = "flex justify-center gap-x-8">
{% listScreenshots %}
</div>

<h1 class="mb-2 text-left">Press Kit Assets</h1>
<p class = "text-left">Download the full press kit <a href = "/missing" class = "underline">here</a>.</p>