---
title: Team
layout: home
tags: page
modified: 2024-05-17 00:00:00
order: 2
---
<div class = "my-16 bg-opaque">
	<h1 class="mb-0 text-center underline">Meet the Team</h1>

	<h3 class="mb-0 text-center">Creative Director</h3>
	<p class=" text-center">Timothy Quach</p>

	<h3 class="mb-0 text-center">Lead Producer</h3>
	<p class=" text-center">Anooj Vadodkar</p>

	<p class=" text-xs text-center">Assistant Producer</p>
	<p class=" text-center">Ishan Dutta</p>

	{# Engineering Credits #}
	<h3 class="mb-0 text-center">Engineering Lead</h3>
	<p class=" text-center">Jiyan (Jerry) Xu</p>

	<h3 class="mb-0 text-center">Engineering Team</h3>
	<div class = "flex justify-center">
		<div class = "w-1/2">
			<p class=" text-center">Andrew Qin</p>
			<p class=" text-center">Aaron Gonzalez</p>
		</div>
		<div class = "w-1/2">
			<p class=" text-center">Yiteng (Utopia) Zhou</p>
			<p class=" text-center">Yukun (Ethan) Zhou</p>
		</div>
	</div>

	{# Design Credits #}

	<h3 class="mb-0 text-center">Design Lead</h3>
	<p class=" text-center">Roosevelt Sinker</p>

	<h3 class="mb-0 text-center">Design Team</h3>
	<div class = "flex justify-center">
		<div class = "w-1/2">
			<p class=" text-center">Ean Stolzer</p>
			<p class=" text-center">Xara Shaw</p>
		</div>
		<div class = "w-1/2">
			<p class=" text-center">Rosa Suh</p>
			<p class=" text-center">Johnny Ving</p>
		</div>
	</div>



	{# Art Credits #}

	<div class = "sm:flex justify-center">
		<div class = "w-full sm:w-1/3">
			<h3 class="mb-0 text-center">Art Director</h3>
			<p class=" text-center">Tian Yang</p>
		</div>
		<div class = "w-full sm:w-1/3">
			<h3 class="mb-0 text-center">Art Producer</h3>
			<p class=" text-center">Robin Zheng</p>
		</div>
		<div class = "w-full sm:w-1/3">
			<h3 class="mb-0 text-center">3d Art Director</h3>
			<p class=" text-center">Alex Martinez</p>
		</div>
	</div>

	<h3 class="mb-0 text-center">Art Team</h3>
	<div class = "flex justify-center">
		<div class = "w-1/2">
		<p class=" text-xs text-center">3d Modeling</p>
		<p class="mb-4 text-center">Caelia LaPenna</p>

		<p class="mt-0 text-xs text-center">3d Modeling</p>
		<p class="mb-4 text-center">Christian Camacho</p>

		<p class="mt-0 text-xs text-center">3d Modeling & Texturing</p>
		<p class="mb-4 text-center">Caitlin Ou</p>

		<p class="mt-0 text-xs text-center">3d Modeling & Concept</p>
		<p class="mb-4 text-center">M. Mo</p>

		<p class="mt-0 text-xs text-center">3d Modeling</p>
		<p class="mb-4 text-center">Serena Wong</p>

		<p class="mt-0 text-xs text-center">3d Modeling & Texturing</p>
		<p class="mb-4 text-center">Eric Jimenez</p>

		<p class="mt-0 text-xs text-center">3d Modeling & Texturing</p>
		<p class="mb-4 text-center">Desiree Velasquez</p>

		<p class="mt-0 text-xs text-center">3d Modeling, Texturing, Concept</p>
		<p class="mb-4 text-center">Jay Chen</p>

		<p class="mt-0 text-xs text-center">Texturing</p>
		<p class="mb-4 text-center">Thomas Nguyen</p>

		<p class="mt-0 text-xs text-center">Texturing</p>
		<p class="mb-4 text-center">Ricky Nguyen</p>

		<p class="mt-0 text-xs text-center">Texturing</p>
		<p class="mb-4 text-center">Jessie Zhang</p>



		</div>
		<div class = "w-1/2">

		<p class="mt-0 text-xs text-center">Character Modeling & Texturing</p>
		<p class="mb-4 text-center">Kristen Shepard</p>

		<p class="mt-0 text-xs text-center">Character Modeling & Texturing</p>
		<p class="mb-4 text-center">Willem Lent</p>

		<p class="mt-0 text-xs text-center">2d Character Artist</p>
		<p class="mb-4 text-center">Ty Zutty</p>

		<p class="mt-0 text-xs text-center">Concept</p>
		<p class="mb-4 text-center">Livia Tseng</p>

		<p class="mt-0 text-xs text-center">Concept</p>
		<p class="mb-4 text-center">Trenyce Tong</p>

		<p class="mt-0 text-xs text-center">Concept</p>
		<p class="mb-4 text-center">YiShan Xu</p>

		<p class="mt-0 text-xs text-center">Animation</p>
		<p class="mb-4 text-center">Ulises Estrada</p>

		<p class="mt-0 text-xs text-center">Animation</p>
		<p class="mb-4 text-center">Dominic Prom</p>

		<p class="mt-0 text-xs text-center">Tech Art, 3d Modeling, Texturing</p>
		<p class="mb-4 text-center">Matthew Yi</p>

		<p class="mt-0 text-xs text-center">Tech Art</p>
		<p class="mb-4 text-center">William Zhao</p>

		<p class="mt-0 text-xs text-center">Tech Art</p>
		<p class="mb-4 text-center">Ashley Rodriguez</p>
		</div>
	</div>



	{# UI Credits #}

	<h3 class="mb-0 text-center">UI/UX Lead</h3>
	<p class=" text-center">Sam Abalayan</p>

	<h3 class="mb-0 text-center">UI/UX Team</h3>
	<div class = "flex justify-center">
		<div class = "w-1/2">
			<p class=" text-center">Rosa Suh</p>
		</div>
		<div class = "w-1/2">
			<p class=" text-center">Adis Roberts</p>
		</div>
	</div>



	{# Audio Credits #}
	<h3 class="mb-0 text-center">Audio Lead</h3>
	<p class=" text-center">Micaiah Turner</p>

	<h3 class="mb-0 text-center">Audio Team</h3>

	<p class=" text-xs text-center">Composer</p>
	<p class="mb-4 text-center">Gao Chen</p>

	<p class=" text-xs text-center">Composer</p>
	<p class="mb-4 text-center">Marcus Leitner</p>

	<p class=" text-xs text-center">Composer</p>
	<p class="mb-4 text-center">Manas Raj Kumar</p>
	

	{# Narrative Credits #}
	<h3 class="mb-0 text-center">Narrative Lead</h3>
	<p class="mb-4 text-center">Jana Mae Rubio</p>
	<p class=" text-xs text-center">Narrative Designer</p>
	<p class=" text-center">Ziqi Gao</p>


	<h3 class="mb-0 text-center">Usability Lead</h3>
	<p class=" text-center">Grace Park</p>

	<h3 class="mb-0 text-center">QA Lead</h3>
	<p class=" text-center">Yifei Miao</p>



	<h3 class="mb-0 text-center">Marketing Lead</h3>
	<p class="mb-4  text-center">Yating Li</p>
	<p class=" text-xs text-center">Marketing</p>
	<p class=" text-center">Chloe Wang</p>

</div>