<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/png" href="/images/favicon.png">

      <meta name="title" content="Donuts!" />
      <meta name="description" content="Donuts! is a slapstick 3D driving/skateboarding game meets food delivery service." />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://donutsthegame.com" />
      <meta property="og:title" content="Donuts!" />
      <meta property="og:description" content="Donuts! is a slapstick 3D driving/skateboarding game meets food delivery service." />
      <meta property="og:image" content="/images/Promotion/Donuts_KeyArt.png" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:url" content="https://donutsthegame.com" />
      <meta name="twitter:title" content="Donuts!" />
      <meta name="twitter:description" content="Donuts! is a slapstick 3D driving/skateboarding game meets food delivery service." />
      <meta name="twitter:image" content="/images/Promotion/Donuts_KeyArt.png" />

      <link rel="canonical" href="{{ config.url }}{{ page.url }}">
        <link rel="stylesheet" href="/css/styles.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
            <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

              <script src="https://kit.fontawesome.com/9e44ba9da7.js" crossorigin="anonymous"></script>
              <meta name="viewport" content="width=device-width, initial-scale=1" />

              <title>{% if title and title != 'Home' %}{{title}} - {% endif %}{{ config.siteTitle }}</title>

            </head>
  <body class = "bg-pink-200">

    <div class="max-w-4xl mx-auto my-8 md:my-12 px-4 md:px-0">
      {{ content | safe }}
    </div>

    <footer class="mt-0 text-center text-base text-gray-500 mb-12 md:mb-16 float-none">
      <div class="">
        <a href = "https://linkedin.com/in/sinker">
          <i class="fa-brands fa-steam fa-4x hover:text-slate-800 mx-1"></i>
        </a>
        <a href = "https://chairshotgames.itch.io/">
          <i class="fa-brands fa-itch-io fa-4x hover:text-red-400 mx-1"></i>
        </a>
      </div>
      <div class="">
        <a href = "https://github.com/rsinker">
          <i class="fa-brands fa-bluesky fa-4x hover:text-blue-500 mx-1"></i>
        </a>git
        <a href = "https://github.com/rsinker">
          <i class="fa-brands fa-twitter fa-4x hover:text-sky-400 mx-1"></i>
        </a>
        <a href = "https://github.com/rsinker">
          <i class="fa-brands fa-youtube fa-4x hover:text-red-500 mx-1"></i>
        </a>
        <a href = "https://github.com/rsinker">
          <i class="fa-brands fa-linkedin fa-4x hover:text-blue-600 mx-1"></i>g
        </a>
      </div
      <p class = "mt-4">&copy; {{ '' | year }} - {{ config.author }}</p>
      <p class = "">
        Built on a template by <a href = "https://github.com/rsinker/roosevelt.games" class="underline hover:text-violet-800">Roosevelt Sinker</a>
      </p>
    </footer>
  </body>
</html>
