<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://tinylytics.app/embed/2BS-Uv2seusbgoMfPdhi.js" defer=""></script>

    <link rel="icon" type="image/png" href="/images/favicon.png">

      <meta name="title" content="Donuts!" />
      <meta name="description" content="Donuts! is a slapstick 3D driving/skateboarding game meets food delivery service." />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://donutsthegame.com" />
      <meta property="og:title" content="Donuts!" />
      <meta property="og:description" content="Donuts! is a slapstick 3D driving/skateboarding game meets food delivery service." />
      <meta property="og:image" content="/images/Promotion/Donuts_KeyArt.png" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:url" content="https://donutsthegame.com" />
      <meta name="twitter:title" content="Donuts!" />
      <meta name="twitter:description" content="Donuts! is a slapstick 3D driving/skateboarding game meets food delivery service." />
      <meta name="twitter:image" content="/images/Promotion/Donuts_KeyArt.png" />

      <link rel="canonical" href="{{ config.url }}{{ page.url }}">
        <link rel="stylesheet" href="/css/styles.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
            <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

              <script src="https://kit.fontawesome.com/9e44ba9da7.js" crossorigin="anonymous"></script>
              <meta name="viewport" content="width=device-width, initial-scale=1" />

              <title>{% if title and title != 'Home' %}{{title}} - {% endif %}{{ config.siteTitle }}</title>

            </head>
  <body class = "bg-sprinkles">
    <header>
      {% include 'header.njk' %}
    </header>
    <a href="/">
      {% if title and title == 'Home' %}
      {# <img class="mb-0 h-full" src = "images/Promotion/Donuts_KeyArt.webp"> #}
      {% endif %}
    </a>
    <div class="mt-0 mx-auto px-8 max-w-4xl">
      {{ content | safe }}
    </div>

    {% include "footer.njk" %}
  </body>
</html>
